#footer
{
    display: block;
    background-color: orange;
    font-size: 20px;
    padding: 10px;
}

#header
{
    text-align: left;
    display: block;
    width: auto;
    height: auto;
    background-color: #ddd;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
#header h1
{
    text-align: right;
    margin-bottom: 0px;
}

#logo
{
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 34px;
    left: 5px;
    margin-bottom: -35px;
}

#meni
{
    padding-left: 0%;
    background-color: #ddd;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    height: auto;
    width: auto;
    padding-bottom: 10px;
}

#meni li
{
    display: inline;
    margin-left: 10px;
}
h3
{
    text-align: center;
    margin-top: 0%;
}

@media only screen and (min-width: 600px)
{
    #glavniSadrzaj
    {
        display: block;
        width: 65%;
        background-color: gray;
        padding-top: 50px;
        padding-bottom: 50px;
        float: right;
        
    }

    #side
    {
        display: inline-block;
        width: 35%;
        background-color: rgb(131, 145, 68);
        padding-top: 50px;
        padding-bottom: 50px;
        
        text-align: center;
    }

    #dodatni
    {
        display: flex;
    }
}

@media only screen and (max-width: 599px)
{
    #glavniSadrzaj
    {
        display: inline-block;
        width: 100%;
        background-color: gray;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #side
    {
        display: inline-block;
        width: 100%;
        background-color: rgb(131, 145, 68);
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
}

.grid-container 
{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
    width: 80%;
    margin: auto;
}
.godina
{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px;
    text-align: center;
    height: 100px;
}

strong
{
    display: inline;
}

input
{
    margin: auto;
}

label
{
    margin: auto;
}

input
{
    margin-bottom:10px;
    margin-top: 10px;
}

input[name="ponisti"]
{
    margin-bottom:20px;
    margin-right: 50px;
}

p
{
    margin-bottom: 5px;
    margin-top: 10px;
}



