#footer
{
    display: block;
    background-color: orange;
    font-size: 20px;
    padding: 10px;
}

#header
{
    text-align: left;
    display: block;
    width: auto;
    height: auto;
    background-color: #ddd;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
#header h1
{
    text-align: right;
    margin-bottom: 0px;
}

#logo
{
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 34px;
    left: 5px;
    margin-bottom: -35px;
}

#meni
{
    padding-left: 0%;
    background-color: #ddd;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    height: auto;
    width: auto;
    padding-bottom: 10px;
}

#meni li
{
    display: inline;
    margin-left: 10px;
}

h3
{
    text-align: center;
    margin-top: 0%;
}

@media only screen and (min-width: 600px)
{
    #glavniSadrzaj
    {
        display: inline-block;
        width: 85%;
        background-color: gray;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 599px)
{
    #glavniSadrzaj
    {
        display: inline-block;
        width: 100%;
        background-color: gray;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

#okvir
{
    text-align: center;
}

form[ name="fPostojeca" ], form[ name="fNova" ]
{
    display: block;
    width: 80%;
    margin: auto;
    background-color: rgba(145, 140, 140, 0.829);
    margin-top: 20px;
}

label
{
    display: block;
    padding-top: 10px;
}

select
{
    display: inline-block;
    margin-bottom: 10px;
}

textarea
{
    
    display: inline-block;
    margin-bottom: 10px;
}

input[type="checkbox"]
{
    margin-right: 0%;
}

input[type="submit"]
{
    margin-bottom:20px;
}