#header
{
    text-align: left;
    display: block;
    width: auto;
    height: auto;
    background-color: #ddd;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
#header h1
{
    text-align: right;
    margin-bottom: 0px;
}

#logo
{
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 34px;
    left: 5px;
    margin-bottom: -35px;
}

#meni
{
    padding-left: 0%;
    background-color: #ddd;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    height: auto;
    width: auto;
    padding-bottom: 10px;
}

#meni li
{
    display: inline;
    margin-left: 10px;
}

label
{
    padding-top: 20px;
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}

table
{
    border-collapse: collapse;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin: auto;
    display: inline-block;
    margin-top: 10px;
}

table, th, td
{
    border: 1px solid black;
}

th, td
{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

table th
{
    background-color: rgba(90, 90, 221, 0.534);
}

#glavni
{
    background-color: rgb(108, 233, 233);
    padding-bottom: 50px;
    margin-top: 0%;
    position: relative;
    display: block;
    width: 100%;
    border-top: 1px solid black;
    text-align: center;
}

#footer
{
    display: block;
    background-color: orange;
    font-size: 20px;
    padding: 10px;
    border-top: 1px solid black;
}

