#login
{
    background-color: aqua;
    width: 50%;
    height: 35%;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

body
{
    background-color: burlywood;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    padding-right: 30%;
    padding-left: 30%;
}

form input[type="text"]{
    margin-bottom: 5%;
    display: inline;
}

form input[type="password"]{

    display: inline;
}

button
{
    margin-left: 75%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

label {

    display: inline-block;
    width: 140px;
    text-align: left;
  }