@media only screen and (min-width: 601px)
{   
   #header
    {
        text-align: left;
        display: block;
        width: auto;
        height: auto;
        background-color: #ddd;
        align-self: center;
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
    #header h1
    {
        text-align: right;
        margin-bottom: 0px;
    }

    #logo
    {
        position: relative;
        width: 50px;
        height: 50px;
        bottom: 34px;
        left: 5px;
        margin-bottom: -35px;
    }

    #meni
    {
        padding-left: 0%;
        background-color: #ddd;
        margin-top: 5px;
        margin-bottom: 0px;
        display: block;
        height: auto;
        width: auto;
        padding-bottom: 10px;
    }

    #meni li
    {
        display: inline;
        margin-left: 10px;
    }


    #side
    {
        background-color: #9c9;
        display: inline-block;
        width: 35%;
        text-align: center;
        align-items: center;
    }

    #glavniSadrzaj
    {
        background-color: rgb(177, 153, 204);
        display: block;
        width: 65%;
        float: right;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    #okvir
    {
        display: block;
        margin: auto;
        
    }
        
    #side li
    {
        list-style-type: none;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #side ul
    {
        padding-left: 0px;
        border: 1px solid black;
        width: 200px;
        margin: auto;
        margin-bottom: 5%;
        overflow-y:scroll;
        height: 150px;
    }

    #side label
    {
        display: block;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    #side li:active 
    {
        background-color: gray;
    }

    table
    {
        padding-left: 0px;
        margin: auto;
        border-collapse: collapse; 
        margin: auto;
    }

    table th, td
    {
        border: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    table th
    {
        background-color: gray;
    }

    #pomocni
    {
        display: flex;
    }

    #footer
    {
        display: block;
        background-color: orange;
        font-size: 20px;
        padding: 10px;
    }
}

@media screen and (max-width: 600px)
{
    #header, #footer, #side, #okvir, #glavniSadrzaj
    {
        /*width: 600px; */
    }

    #glavniSadrzaj, #side
    {
        display: block;
        text-align: center;
    }

    #header
    {
        text-align: left;
        display: block;
        width: auto;
        height: auto;
        background-color: #ddd;
        align-self: center;
        margin-top: 0px;
        margin-bottom: 0px;
        
    }

    #header h1
    {
        text-align: right;
        margin-bottom: 0px;
    }

    #logo
    {
        position: relative;
        width: 50px;
        height: 50px;
        bottom: 34px;
        left: 5px;
        margin-bottom: -35px;
    }

    #meni
    {
        padding-left: 0%;
        background-color: #ddd;
        margin-top: 5px;
        margin-bottom: 0px;
        display: block;
        height: auto;
        width: auto;
        padding-bottom: 10px;
    }

    #meni li
    {
        display: inline;
        margin-left: 10px;
    }

    #side
    {
        background-color: #9c9;
        display: block;
        text-align: center;
        padding-bottom: 40px;
    }

    #glavniSadrzaj
    {
        background-color: rgb(177, 153, 204);
        display: block;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    #okvir
    {
        display: block;
        margin: auto;
        
    }
        
    #side li
    {
        list-style-type: none;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #side ul
    {
        padding-left: 0px;
        border: 1px solid black;
        width: 200px;
        margin: auto;
        overflow-y:scroll;
        height: 150px;
    }


    #side label
    {
        display: block;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    #side li:active 
    {
        background-color: gray;
    }

    table
    {
        padding-left: 0px;
        margin: auto;
        border-collapse: collapse; 
    }

    table th, td
    {
        border: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    table th
    {
        background-color: gray;
    }

    

    #footer
    {
        display: block;
        background-color: orange;
        font-size: 20px;
        padding: 10px;
    }
}
