@media only screen and (min-width: 600px)
{   
    .cetvrtina
    {
        background-color: #9c9;
        display: block;
        text-align: center;
        align-items: center;
        width: 25%;
        margin-top: 0%;
        position: relative;
        top: 0%;
        float: left;
        border-right: 1px solid black;
        box-sizing: border-box;
    }

    .polovina
    {
        background-color: #9c9;
        display: block;
        text-align: center;
        width: 50%;
        margin-top: 0%;
        position: relative;
        float: right;
        box-sizing: border-box;
        padding-bottom: 20px;
    }

    #pomocni
    {
        display: flex;
    }
}

@media only screen and (max-width: 599px)
{   
    .polovina
    {
        background-color: #9c9;
        display: block;
        text-align: center;
        margin-top: 0%;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding-bottom: 20px;
    }

    .cetvrtina
    {
        background-color: #9c9;
        display: block;
        text-align: center;
        align-items: center;
        width: 100%;
        margin-top: 0%;
        position: relative;
        top: 0%;
        border-bottom: 1px solid black;
        box-sizing: border-box;
        padding-bottom: 20px;
    }
}

#header
{
    text-align: left;
    display: block;
    width: auto;
    height: auto;
    background-color: #ddd;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
#header h1
{
    text-align: right;
    margin-bottom: 0px;
}

#logo
{
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 34px;
    left: 5px;
    margin-bottom: -35px;
}

#meni
{
    padding-left: 0%;
    background-color: #ddd;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    height: auto;
    width: auto;
    padding-bottom: 10px;
}

#meni li
{
    display: inline;
    margin-left: 10px;
}

#godina
{
    padding-left: 0px;
    border: 1px solid black;
    width: 70%;
    margin: auto;
    overflow-y:scroll;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

#imena
{
    padding-left: 0px;
    border: 1px solid black;
    width: 70%;
    margin: auto;
    overflow-y:scroll;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 20px;
}


label
{
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cetvrtina li:active 
{
    background-color: gray;
}

#okvir
{
    display: block;
    margin: auto;
}

input
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

input:nth-child(1)
{
    width: 70%;
}

.polovina ul
{
    display: inline-block;
    margin-bottom: 20px;
    position: static;
}

.item
{
    background-color: gray;
    display: inline-block;
    height: 25px;
    width: 100px;
    border: 1px medium rgba(133, 103, 79, 0.178);
    
}

#footer
{
    display: block;
    background-color: orange;
    font-size: 20px;
    padding: 10px;
}

.folder
{
    border: 1px solid black;
    display: inline-block;
    width: 70%;
}

.polovina li
{
    padding-top: 5px;
    margin-bottom: 5px;
}
